@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  min-height: 110vh;
  padding: 0 24px;
}

header {
  padding-top: 89px;
  padding-bottom: 32px;
  background-image: url(../images/pattern-circles.svg);
  background-position: top 60px center;
  background-repeat: no-repeat;
}

header h1 {
  text-align: center;
  font-family: "Manrope", sans-serif;
  color: rgb(41, 51, 86);
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  margin-bottom: 11px;
}

header p {
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  width: 170px;
  text-align: center;
  margin: 0 auto;
}

.interactivePricingCard {
  margin-top: 32px;
  border-radius: 8px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 34px 24px;
}

.slide-moneyParent {
  display: grid;
}
.pageView {
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 1.71px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.money {
  grid-row: 3;
  margin-top: 24px;
  color: rgb(41, 51, 86);
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.8px;
}

.month-yearSpan {
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.range {
  position: relative;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%
  );
}

.range:after {
  content: "";
  height: 100%;
  width: var(--progress-width);
  position: absolute;
  background-color: red;
  left: 0;
  top: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 0px 15px 30px 0px rgba(0, 255, 231, 0.6);
  background: rgb(16, 216, 196);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.billingParent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 272px;
  margin: 40px auto 0 auto;
  column-gap: 5px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.monthlyBilingSpan {
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
}

.switch {
  position: relative;
  border-radius: 15px;
  background: rgb(207, 216, 239);
  width: 43px;
  height: 22px;
  transition: 0.3s ease;
}

.switch:after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  user-select: none;
}

.activeSwitch {
  background: rgb(122, 234, 223);
}

.activeSwitch:after {
  transform: translate(145%, -50%);
}

.yearly-precentOff {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.yearlyBilingSpan {
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
}

.precentOff {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9.5px;
  background: rgb(254, 237, 232);
  width: 41px;
  height: 19px;
  color: rgb(255, 141, 104);
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0px;
}

.discount {
  display: none;
}

.cardFooter {
  border-top: 1px solid rgb(236, 240, 251);
  margin-top: 38px;
  padding-top: 24px;
}

.cardFooter ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 34px;
}

.cardFooter ul li span {
  margin-left: 16px;
  color: rgb(132, 142, 173);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.trialBtn {
  border-radius: 20.5px;
  background: rgb(41, 51, 86);
  color: rgb(190, 205, 255);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  padding: 14px 47px;
  border: none;
}

@media screen and (min-width: 1100px) {
  header {
    background-position: top 27px center;
    margin-bottom: 92px;
  }
  header h1 {
    font-size: 28px;
  }

  header p {
    width: auto;
    font-size: 15px;
  }

  .interactivePricingCard {
    width: 540px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .slide-moneyParent {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 35px;
    padding: 0 48px;
  }

  .pageView {
    margin-bottom: 0;
    font-size: 14px;
  }
  .money {
    grid-row: unset;
    margin-top: 0;
    font-size: 40px;
  }

  .month-yearSpan {
    font-size: 16px;
  }

  .rangeParent {
    grid-column: 1/-1;
  }

  .billingParent {
    max-width: 308px;
  }

  .precentOff {
    width: 80px;
    height: 19px;
    column-gap: 3px;
  }

  .discount {
    display: inline;
  }

  .range::-webkit-slider-thumb {
    cursor: pointer;
  }

  .range::-webkit-slider-thumb:active {
    cursor: grab;
  }

  .switch:hover {
    background: rgb(122, 234, 223);
    cursor: pointer;
  }

  .trialBtn {
    cursor: pointer;
    transition: 0.3s ease;
  }

  .trialBtn:hover {
    color: rgb(255, 255, 255);
  }

  .cardFooter {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 48px 48px 0 48px;
  }

  .cardFooter ul {
    margin-bottom: 0px;
    text-align: left;
  }
}
